<div class="page-header">
  <%= link_to corsis_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Indietro
  <% end %>
  <%= link_to edit_corsi_path(@corsi), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Modifica
  <% end %>
  <h1>Mostra Corsi</h1>
</div>

<dl class="dl-horizontal">
  <dt>Data:</dt>
  <dd><%= @corsi.data %></dd>

  <dt>Luogo:</dt>
  <dd><%= @corsi.luogo %></dd>

  <dt>Titolo:</dt>
  <dd><%= @corsi.titolo %></dd>

  <dt>Contatto:</dt>
  <dd><%= @corsi.contatto %></dd>

  <dt>Descrizione:</dt>
  <dd><%= @corsi.descrizione %></dd>
  
  <%= link_to "Visualizza Allegato", @corsi.image.url, target: "_blank" %> 
  <br/>
</dl>
