<div class="page-header">
  <%= link_to attivita_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Indietro
  <% end %>
  <%= link_to edit_attivitum_path(@attivitum), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Modifica
  <% end %>
  <h1>Mostra Attività</h1>
</div>

<dl class="dl-horizontal">
  <dt>Data:</dt>
  <dd><%= @attivitum.data %></dd>
  
  <dt>Titolo:</dt>
  <dd><%= @attivitum.titolo %></dd>
  
  <dt>Luogo:</dt>
  <dd><%= @attivitum.luogo %></dd>
  
  <dt>Descrizione:</dt>
  <dd><%= @attivitum.descrizione %></dd>
</dl>

<form class="form-horizontal" role="form" id="new_photo_attivitum" enctype="multipart/form-data" action="/photo_attivita" accept-charset="UTF-8" 
method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" >

<h2>Carica file</h2>
  <div class="form-group">
    <div class="col-sm-10">
      <input class="form-control" type="hidden" name="photo_attivitum[id_attivita]" id="photo_attivitum_id_attivita" value="<%= @attivitum.id%>">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-2 control-label" for="photo_attivitum_titolo">Titolo</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="photo_attivitum[titolo]" id="photo_attivitum_titolo">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-2 control-label" for="photo_attivitum_image">Immagine</label><br>
    <div class="col-sm-10">
      <input class="form-control" type="file" name="photo_attivitum[image]" id="photo_attivitum_image">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" name="commit" value="Carica" class="btn btn-primary">
    </div>
  </div>
</form>
<div id="c">
</div>
<script>
jQuery(document).ready( function($) {

  var k=$.ajax({
                  url:"/photo_attivita/getattached/"+<%= @attivitum.id %> ,
                  async: false,
                  dataType: 'json'
              }).responseJSON;
                            
          console.log(k);              
 for (var i = 0; i < k.length; i++)
              {
               
$("#c").append('<img src="http://vps535356.ovh.net'+k[i].image_url+'" height="100" width="100"/> <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/photo_attivita/'+k[i].id+'">Elimina</a>');
                
              }
});

</script>