<div class="page-header">
  <%= link_to new_seminari_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuovo Seminario
  <% end %>
  <h1>Lista Seminari</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Da</th>
            <th>A</th>
            <th>Luogo</th>
            <th>Nazione</th>
            <th>Titolo</th>
            <th>Descrizione</th>
            <th></th>
            <th></th>
            <th></th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @seminaris) do |seminari| %>
            <td><%= seminari.da %></td>
            <td><%= seminari.al %></td>
            <td><%= seminari.luogo %></td>
            <td><%= seminari.nazione %></td>
            <td><%= seminari.titolo %></td>
            <td><%= seminari.descrizione %></td>
            <td><%= link_to 'Mostra', seminari %></td>
            <td><%= link_to 'Modifica', edit_seminari_path(seminari) %></td>
            <td><%= link_to 'Elimina', seminari, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>