<div class="page-header">
  <%= link_to seminaris_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Indietro
  <% end %>
  <%= link_to edit_seminari_path(@seminari), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Modifica
  <% end %>
  <h1>Mostra Seminari</h1>
</div>

<dl class="dl-horizontal">
  <dt>Da:</dt>
  <dd><%= @seminari.da %></dd>
  
  <dt>A:</dt>
  <dd><%= @seminari.al %></dd>
  
  <dt>Luogo:</dt>
  <dd><%= @seminari.luogo %></dd>
  
  <dt>Nazione:</dt>
  <dd><%= @seminari.nazione %></dd>
  
  <dt>Titolo:</dt>
  <dd><%= @seminari.titolo %></dd>
  
  <dt>Descrizione:</dt>
  <dd><%= @seminari.descrizione %></dd>
  
  <%= link_to "Visualizza Allegato", @seminari.image.url, target: "_blank" %> 
  <br/>
</dl>